.logo {
  display: flex;
  align-items: center;
}

.logo div {
  display: flex;
  flex-direction: column;
}

.icon img {
  width: 100%;
  height: 100%;
}

.sm .icon {
  width: 35.5px;
  height: 27.3px;
  margin-right: 4px;
}

.lg .icon {
  width: 63.2px;
  height: 48.6px;
  margin-right: 13.7px;
}

.name {
  color: var(--white);
  font-family: var(--font-pt-sans);
  font-weight: 700;
  line-height: var(--line-height-8);
  text-transform: uppercase;
}

.lg .name {
  font-size: 15px;
}

.sm .name {
  font-size: 8px;
}
