.wrapper {
  position: relative;
}

.viewport {
  overflow: hidden;
  width: 100%;
}

.container {
  display: flex;
}

.slide {
  position: relative;
  width: 380px;
  height: 360px;
  flex: 0 0 33%;
  padding: 0 20px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-4);
    object-fit: cover;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--gray-7);
  border-radius: var(--radius-full);
  background-color: var(--gray-2);
  color: var(--gray-7);
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: -16px !important;
}
.next {
  right: -16px !important;
}
