.link {
  display: inline;
  align-items: center;
  gap: 10px;
}

.inlineFlex {
  display: inline-flex;
}

.whiteLink {
  color: var(--white);
}

.whiteLink:hover {
  color: var(--gray-4);
}

.whiteLink:active {
  color: var(--gray-4);
}

.lightgrey {
  color: var(--gray-6);
}

.lightgrey:hover {
  color: var(--gray-7);
}

.lightgrey:active {
  color: var(--gray-8);
}

.darkgrey {
  color: var(--gray-9);
}

.darkgrey:hover {
  color: var(--red-10);
}

.darkgrey:active {
  color: var(--red-8);
}
