.container {
  max-width: var(----container-4);
  padding: 0 100px;

  @media (--small-desktop) {
    max-width: var(----container-3);
    padding: 0 20px;
  }

  @media (--mobile) {
    max-width: var(----container-2);
    padding: 0 16px;
  }
}
