.root {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.list {
  display: flex;
  padding: 10px;
  margin: 0;
  background-color: var(--red-8);
  gap: var(--space-3);
  list-style: none;
}
