.banner {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 389px;
  align-items: center;
  justify-content: space-between;
  padding: 88px 60px;
  border-radius: 16px;
  background: #6531ff;
  gap: 32px;

  @media (--small-desktop) {
    min-height: 320px;
    padding: 56px 40px;
  }

  @media (--mobile) {
    min-height: 0;
    padding: 32px 20px;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 462px;
  flex-direction: column;
  gap: 32px;

  @media (--mobile) {
    gap: 20px;
  }
}

.title {
  margin: 0;
  color: var(--white);
  font-family: 'Inter', var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 130%;

  @media (--mobile) {
    font-size: 22px;
  }
}

.decoration {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 56.45%;
  background-image: url('/figma/promo-decoration.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;

  @media (--mobile) {
    display: none;
  }
}
