.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.whiteLink {
  color: var(--white);
}

.whiteLink:hover {
  color: var(--gray-4);
}

.whiteLink:active {
  color: var(--gray-4);
}
