.inputGray {
  --text-field-focus-color: var(--gray-6);
  border: 1px solid var(--gray-4);
  background: var(--white);
  color: var(--gray-9);
  outline: none;
}

.inputGray input::placeholder {
  color: var(--gray-6);
}

.inputGray:focus-within {
  border: 1px solid var(--gray-4);
  outline: none;
}

.inputGray:hover {
  border: 1px solid var(--gray-6);
  outline: none;
}

.inputRed {
  --text-field-focus-color: var(--red-1);
  border: 1px solid var(--red-1);
  background: var(--red-8);
  color: var(--red-1);
  outline: none;
}

.inputRed input::placeholder {
  color: var(--red-1);
}

.inputRed:focus-within {
  border: 1px solid var(--red-4);
  background: var(--red-7);
  outline: none;
}

.inputRed:hover {
  border: 1px solid var(--red-1);
  background: var(--red-5);
  outline: none;
}

.icon {
  padding: 0;
}

.iconGrayRight path {
  stroke: var(--gray-9);
}

.iconRed path {
  stroke: var(--red-1);
}

.rightIcon {
  margin-left: 4px;
}
