.header {
  width: 100%;
  padding: 6px 20px 0px 20px;
  background-color: var(--red-8);

  @media (--mobile) {
    padding: 6px 20px;
  }
}

.headerMobile {
  display: none;

  @media (--mobile) {
    display: flex;
    justify-content: space-between;
  }
}

.menuMobile {
  display: none;

  @media (--mobile) {
    position: absolute;
    z-index: 100;
    top: 49.78px;
    left: 0;
    display: flex;
    width: 100%;
    max-height: 95vh;
    flex-direction: column;
    padding: 0px 15px;
    background-color: var(--white);
    overflow-y: scroll;
  }
}

.logoCont {
  width: 230px;
  height: 100%;

  @media (--mobile) {
    width: 129px;
  }
}

.logo {
  width: 100%;
  height: 100%;
}

.input {
  width: 320px;
  margin-right: 8px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBar {
  display: flex;
}

.bottom div ul {
  justify-content: center;
}

.bottom div ul li a {
  @media (--small-desktop) {
    padding: 5px;
    font-size: var(--font-size-2);
  }
}

.menuMobile_overlay {
  display: none;

  @media (--mobile) {
    position: fixed;
    z-index: 90;
    display: block;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.4);
    inset: 49.78px 0 0 0;
  }
}

.menuMobile_link {
  @media (--mobile) {
    padding: 10px 0px;
    border-bottom: 1px solid var(--gray-4);
  }
}

.menuMobile_accordion {
  @media (--mobile) {
    border-bottom: 1px solid var(--gray-4);
  }
}

.accordion_link {
  @media (--mobile) {
    padding: 10px 15px;
  }
}

.menuMobile_button {
  @media (--mobile) {
    padding: 25px 0px;
    text-align: center;
  }
}

.mobileButtons {
  @media (--mobile) {
    display: flex;
    align-items: center;
  }
}

.searchBtn {
  @media (--mobile) {
    margin-right: 8px;
  }
}

.headerDesktop {
  @media (--mobile) {
    display: none;
  }
}
