/* 
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  
  @media (--small-desktop) {
    justify-content: space-around;
    }
    
    @media (--mobile) {
      justify-content: flex-start;
      }
      }
      
      .sectionName {
        margin: 0;
        margin-bottom: 15px;
        color: var(--gray-3);
        line-height: var(--line-height-1);
        }
        
        .sectionLink {
          margin: 0;
          color: var(--white);
          line-height: var(--line-height-1);
          
          &:not(:last-child) {
            margin-bottom: 5px;
            }
            }
            
            .break {
              display: none;
              
              @media (--mobile) {
                display: block;
                }
                }
                
                .socials {
                  margin-right: 90px;
                  @media (--small-desktop) {
                    width: 100vw;
                    margin: 0;
                    margin-bottom: 60px;
                    }
                    
                    @media (--mobile) {
                      margin-bottom: 55px;
                      }
                      }
                      
                      .contacts {
                        @media (--mobile) {
                          width: 100vw;
                          margin-bottom: 35px;
                          }
                          }
                          
                          .logo {
                            margin-bottom: 30px;
                            }
                            
                            .social {
                              &:not(:last-child) {
                                margin-right: 15px;
                                }
                                }
                                
                                .reviews {
                                  @media (--mobile) {
                                    margin-right: 50px;
                                    }
                                    }
                                    
                                    .line {
                                      display: block;
                                      width: 100%;
                                      height: 1px;
                                      margin-bottom: 25px;
                                      background-color: var(--gray-6);
                                      }
                                      
                                      .underlined {
                                        text-decoration: underline;
                                        }
                                        
                                        .info {
                                          display: grid;
                                          color: var(--gray-4);
                                          gap: 20px;
                                          grid-template-columns: 25% 50% 25%;
                                          line-height: var(--line-height-1);
                                          
                                          p {
                                            margin: 0;
                                            }
                                            
                                            @media (--small-desktop) {
                                              gap: 10px;
                                              }
                                              
                                              @media (--mobile) {
                                                grid-template-columns: 1fr;
                                                }
                                                } */

.footer {
  padding: 32px 16px;
  background-color: var(--gray-9);
  color: white;
}

.footerWrap {
  display: flex;
  flex-wrap: wrap;
}

.footer aside:nth-child(1) {
  width: 25%;

  @media (--small-desktop) {
    width: 100%;
  }

  :global(.wp-block-group .wp-block-group__inner-container .wp-block-columns) {
    display: flex;
    align-items: center;
  }

  :global(.wp-block-group) {
    margin-bottom: 30px;
  }

  :global(.wp-block-group .wp-block-group__inner-container .wp-block-columns .wp-block-column .wp-block-image) {
    width: 63px;
    height: 48px;
    margin-right: 14px;

    :global figure {
      margin: 0;
    }

    :global img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  :global(.wp-block-column:nth-child(1)) {
    flex-basis: 0 !important;
  }

  :global(.wp-block-heading) {
    width: 120px;
    height: 30px;
    margin: 0;
    background-color: red;

    @media (--small-desktop) {
      margin-bottom: 60px;
    }
  }

  :global(p) {
    margin: 0;
    color: var(--white);
    font-family: var(--font-pt-sans);
    font-weight: 700;
    line-height: var(--line-height-8);
  }
}

.footer aside:nth-child(2) {
  width: 25%;

  @media (--small-desktop) {
    width: 33%;
  }

  @media (--mobile) {
    width: 100%;
    margin-bottom: 40px;
  }

  :global(h3) {
    margin: 0;
    margin-bottom: 15px;
    color: var(--gray-3);
    font-family: var(--font-pt-sans);
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: var(--line-height-1);
  }

  :global(p) {
    margin: 0;
    color: var(--white);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.footer aside:nth-child(3) {
  width: 25%;

  @media (--small-desktop) {
    width: 33%;
  }

  @media (--mobile) {
    width: 60%;
  }

  :global(h2) {
    margin: 0;
    margin-bottom: 15px;
    color: var(--gray-3);
    font-family: var(--font-pt-sans);
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: var(--line-height-1);
  }

  :global(a) {
    margin: 0;
    color: var(--white);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  :global(li) {
    list-style: none;
  }

  :global ul {
    padding: 0;
    margin: 0;
  }
}

.footer aside:nth-child(4) {
  width: 25%;

  @media (--small-desktop) {
    width: 33%;
  }

  @media (--mobile) {
    width: 40%;
  }

  :global(h2) {
    margin: 0;
    margin-bottom: 15px;
    color: var(--gray-3);
    font-family: var(--font-pt-sans);
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: var(--line-height-1);
  }

  :global(a) {
    margin: 0;
    color: var(--white);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  :global(li) {
    list-style: none;
  }

  :global ul {
    padding: 0;
    margin: 0;
  }
}

.footer aside:nth-child(5) {
  width: 100%;

  :global(hr) {
    height: 1px;
    border: none;
    margin: 24px 0;
    background-color: var(--gray-6);
  }
}

.footer aside:nth-child(6) {
  color: var(--gray-4);

  :global(.wp-block-group:nth-child(1)) {
    display: flex;

    .wp-block-group {
      width: 25%;
    }

    @media (--mobile) {
      flex-wrap: wrap;
    }
  }

  :global(p) {
    margin: 0;
  }

  :global(b) {
    font-weight: 400;
  }

  :global(a) {
    color: var(--gray-4);
    text-decoration: none;
  }

  :global(p:nth-child(1)) {
    width: 30%;
    margin-right: 30px;

    @media (--mobile) {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  :global(p:nth-child(2)) {
    width: 30%;
    margin-right: 20%;

    @media (--mobile) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  :global(.wp-block-group .wp-block-group) {
    a {
      text-decoration: underline;
    }

    p {
      width: 100%;
      margin: 0;
    }
  }
}
