.news {
  padding: 0 100px;

  :global(.wp-block-gallery) {
    display: flex;
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--gray-9);
    font-size: var(--font-size-8);
    line-height: var(--line-height-8);
    text-transform: lowercase;
  }

  h2::first-letter {
    text-transform: uppercase;
  }

  p,
  div {
    margin: 0;
    color: var(--gray-7);
    font-size: var(--font-size-5);
    line-height: var(--line-height-8);
  }

  .date {
    margin-bottom: 35px;
    color: var(--gray-6);
    font-size: var(--font-size-3);
  }
}

.carousel {
  padding: 20px 0px 5px 0px;
}
